<!-- Press Section - Modern logo showcase -->
<section class="press-logos reveal-section">
  <div class="press-logos__container">
    <div class="press-logos__header reveal-content">
      <span class="press-logos__eyebrow">Featured In</span>
      <h2 class="press-logos__title">Trusted by Leading Media</h2>
    </div>

    <div class="press-logos__grid reveal-stagger">
      <div class="press-logos__item reveal-child">
        <img
          data-src="/assets/img/pages/home/logos/the-new-york-times.png"
          src="/assets/img/pages/home/logos/the-new-york-times.png?nf_resize=fit&w=20"
          alt="The New York Times"
          class="lazyload press-logos__image"
        />
      </div>
      <div class="press-logos__item reveal-child">
        <img
          data-src="/assets/img/pages/home/logos/fast-company.png"
          src="/assets/img/pages/home/logos/fast-company.png?nf_resize=fit&w=20"
          alt="Fast Company"
          class="lazyload press-logos__image"
        />
      </div>
      <div class="press-logos__item reveal-child">
        <img
          data-src="/assets/img/pages/home/logos/daily-news.png"
          src="/assets/img/pages/home/logos/daily-news.png?nf_resize=fit&w=20"
          alt="Daily News"
          class="lazyload press-logos__image"
        />
      </div>
      <div class="press-logos__item reveal-child">
        <img
          data-src="/assets/img/pages/home/logos/popular-science.png"
          src="/assets/img/pages/home/logos/popular-science.png?nf_resize=fit&w=20"
          alt="Popular Science"
          class="lazyload press-logos__image"
        />
      </div>
      <div class="press-logos__item reveal-child">
        <img
          data-src="/assets/img/pages/home/logos/wired.png"
          src="/assets/img/pages/home/logos/wired.png?nf_resize=fit&w=20"
          alt="Wired"
          class="lazyload press-logos__image"
        />
      </div>
    </div>
  </div>
</section>
