<table>
  <thead>
    <tr>
      <th></th>
      <th>
        <div class="shop-airbeam__chart-image image-abmini"></div>
      </th>
      <th>
        <div class="shop-airbeam__chart-image image-ab3"></div>
      </th>
    </tr>
    <tr>
      <th>Features</th>
      <th class="shop-airbeam__chart-label">AirBeam Mini</th>
      <th class="shop-airbeam__chart-label">AirBeam3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$99</td>
      <td>$199</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>3 × 2.5 × 1 inches</td>
      <td>4.3 × 3.7 × 1 inches</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>4 ounces</td>
      <td>6 ounces</td>
    </tr>
    <tr>
      <td>Bluetooth</td>
      <td><div class="shop-airbeam__checkmark"></div></td>
      <td><div class="shop-airbeam__checkmark"></div></td>
    </tr>
    <tr>
      <td>WiFi</td>
      <td><div class="shop-airbeam__checkmark"></div></td>
      <td><div class="shop-airbeam__checkmark"></div></td>
    </tr>
    <tr>
      <td>4G Cellular</td>
      <td><div class="shop-airbeam__minus"></div></td>
      <td><div class="shop-airbeam__checkmark"></div></td>
    </tr>
    <tr>
      <td>Temperature &amp; Humidity Sensors</td>
      <td><div class="shop-airbeam__minus"></div></td>
      <td><div class="shop-airbeam__checkmark"></div></td>
    </tr>
    <tr>
      <td>Onboard GPS</td>
      <td><div class="shop-airbeam__minus"></div></td>
      <td><div class="shop-airbeam__checkmark"></div></td>
    </tr>
    <tr>
      <td>Battery Runtime</td>
      <td>14-hr mobile session runtime / 24-hr fixed session runtime</td>
      <td>17-hr mobile session runtime / 31-hr fixed session runtime</td>
    </tr>
    <tr>
      <td>Data Storage Type</td>
      <td>Non-removable flash memory</td>
      <td>Removable SD card</td>
    </tr>
    <tr>
      <td>Data Storage Capacity</td>
      <td>70 days of 1-minute mobile or fixed session data</td>
      <td>
        256 days of 1-second mobile session data<br />
        40 years of 1-minute fixed session data
      </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>Fully weather resistant when used with included rubber sleeve</td>
      <td>Requires protection from rain</td>
    </tr>
  </tbody>
</table>
