<table>
  <thead>
    <tr>
      <th>
        <img
          src="/assets/AirBeamMiniBlur.png"
          alt="AirBeam Mini"
          class="shop-airbeam__chart-image"
        />
      </th>
      <th>VS</th>
      <th>
        <img
          src="/assets/img/airbeam-buy-it-now.jpg"
          alt="AirBeam3"
          class="shop-airbeam__chart-image"
        />
      </th>
    </tr>
    <tr>
      <th>AirBeam Mini</th>
      <th></th>
      <th>AirBeam3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$99</td>
      <td>Price</td>
      <td>$199</td>
    </tr>
    <tr>
      <td>3 × 2.5 × 1 inches</td>
      <td>Dimensions</td>
      <td>4.3 × 3.7 × 1 inches</td>
    </tr>
    <tr>
      <td>4 ounces</td>
      <td>Weight</td>
      <td>6 ounces</td>
    </tr>
    <tr>
      <td>Yes</td>
      <td>Bluetooth</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Yes</td>
      <td>WiFi</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>No</td>
      <td>4G Cellular</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>No</td>
      <td>Temperature &amp; Humidity Sensors</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>No</td>
      <td>Onboard GPS</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>14-hr mobile session runtime / 24-hr fixed session runtime</td>
      <td>Battery Runtime</td>
      <td>17-hr mobile session runtime / 31-hr fixed session runtime</td>
    </tr>
    <tr>
      <td>Non-removable flash memory</td>
      <td>Data Storage Type</td>
      <td>Removable SD card</td>
    </tr>
    <tr>
      <td>70 days of 1-minute mobile or fixed session data</td>
      <td>Data Storage Capacity</td>
      <td>
        256 days of 1-second mobile session data<br />
        40 years of 1-minute fixed session data
      </td>
    </tr>
    <tr>
      <td>Fully weather resistant when used with included rubber sleeve</td>
      <td>Weather Resistance</td>
      <td>Requires protection from rain</td>
    </tr>
    <tr>
      <td>
        <strong>Choose AirBeam Mini if you want:</strong>
        <ul>
          <li>Lower cost</li>
          <li>Smaller size</li>
          <li>Lighter weight</li>
          <li>Fully weather resistant</li>
        </ul>
      </td>
      <td></td>
      <td>
        <strong>Choose AirBeam3 if you want:</strong>
        <ul>
          <li>Cellular data transmission</li>
          <li>Temperature &amp; humidity measurements</li>
          <li>Standalone location tracking</li>
          <li>Longer battery runtime</li>
          <li>Removable data storage</li>
          <li>Higher capacity data storage</li>
          <li>Mobile data stored at 1-second intervals</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
