<div id='product-component-1675725115787'></div>

<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'airbeam3.myshopify.com',
      storefrontAccessToken: '4550ae78977aa10c39c38c6dbb8367d2',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '8100554178841',
        node: document.getElementById('product-component-1675725115787'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "color": "#474c55"
      },
      "button": {
        "font-weight": "bold",
        "color": "#474c55",
        ":hover": {
          "color": "#474c55",
          "background-color": "#e6cf49"
        },
        "background-color": "#ffe651",
        ":focus": {
          "background-color": "#e6cf49"
        }
      },
      "price": {
        "color": "#474c55"
      },
      "compareAt": {
        "color": "#474c55"
      },
      "unitPrice": {
        "color": "#474c55"
      }
    },
    "contents": {
      "button": false,
      "buttonWithQuantity": true
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-weight": "bold",
        "color": "#474c55",
        ":hover": {
          "color": "#474c55",
          "background-color": "#e6cf49"
        },
        "background-color": "#ffe651",
        ":focus": {
          "background-color": "#e6cf49"
        }
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-weight": "bold",
        "color": "#474c55",
        ":hover": {
          "color": "#474c55",
          "background-color": "#e6cf49"
        },
        "background-color": "#ffe651",
        ":focus": {
          "background-color": "#e6cf49"
        }
      },
      "title": {
        "color": "#474c55"
      },
      "header": {
        "color": "#474c55"
      },
      "lineItems": {
        "color": "#474c55"
      },
      "subtotalText": {
        "color": "#474c55"
      },
      "subtotal": {
        "color": "#474c55"
      },
      "notice": {
        "color": "#474c55"
      },
      "currency": {
        "color": "#474c55"
      },
      "close": {
        "color": "#474c55",
        ":hover": {
          "color": "#474c55"
        }
      },
      "empty": {
        "color": "#474c55"
      },
      "noteDescription": {
        "color": "#474c55"
      },
      "discountText": {
        "color": "#474c55"
      },
      "discountIcon": {
        "fill": "#474c55"
      },
      "discountAmount": {
        "color": "#474c55"
      }
    },
    "text": {
      "total": "Subtotal"
    },
    "popup": false
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-weight": "bold",
        "background-color": "#ffe651",
        ":hover": {
          "background-color": "#e6cf49"
        },
        ":focus": {
          "background-color": "#e6cf49"
        }
      },
      "count": {
        "color": "#474c55",
        ":hover": {
          "color": "#474c55"
        }
      },
      "iconPath": {
        "fill": "#474c55"
      }
    }
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#474c55"
      },
      "title": {
        "color": "#474c55"
      },
      "price": {
        "color": "#474c55"
      },
      "fullPrice": {
        "color": "#474c55"
      },
      "discount": {
        "color": "#474c55"
      },
      "discountIcon": {
        "fill": "#474c55"
      },
      "quantity": {
        "color": "#474c55"
      },
      "quantityIncrement": {
        "color": "#474c55",
        "border-color": "#474c55"
      },
      "quantityDecrement": {
        "color": "#474c55",
        "border-color": "#474c55"
      },
      "quantityInput": {
        "color": "#474c55",
        "border-color": "#474c55"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
