<footer class="footer">
  <ul>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Info</h2>
      <ul class="footer__topic-links">
        <li>
          <a href="#" class="link link--light">About HabitatMap</a>
        </li>
        <li>
          <a href="#" class="link link--light">How It Works</a>
        </li>
        <li>
          <a href="#" class="link link--light">FAQ</a>
        </li>
        <li>
          <a href="#" class="link link--light">Donate</a>
        </li>
        <li>
          <a href="#" class="link link--light">Get AirBeam</a>
        </li>
      </ul>
    </li>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Connect</h2>
      <ul class="footer__topic-links">
        <li>
          <a href="#" class="link link--light">Contact us</a>
        </li>
        <li>
          <a href="#" class="link link--light">Subscribe</a>
        </li>
        <li>
          <a href="#" class="link link--light">Twitter</a>
        </li>
        <li>
          <a href="#" class="link link--light">Facebook</a>
        </li>
      </li>
    </ul>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Stay Current</h2>
      <p class="u--bold">Sign up to recieve AirBeam product updates and HabitatMap news (quarterly):</p>
    </li>
  </ul>
</footer>
