<footer class="footer panel panel--footer">
  <div class="split--50">
    <ul class="footer__nav">
      <li class="footer-column">
        <h2 class="footer-column__heading heading u--capitalized">Info</h2>
        <ul class="footer-links">
          <li>
            <a href="/about" class="footer-links__element">About HabitatMap</a>
          </li>
          <li>
            <a href="/airbeam/how-it-works" class="footer-links__element">How It Works</a>
          </li>
          <li>
            <a href="/airbeam/FAQ" class="footer-links__element">FAQ</a>
          </li>
          <li>
            <a href="/donate" class="footer-links__element">Donate</a>
          </li>
          <li>
            <a href="/airbeam/buy-it-now" class="footer-links__element">Get AirBeam</a>
          </li>
        </ul>
      </li>

      <li class="footer-column">
        <h2 class="footer-column__heading heading u--capitalized">Connect</h2>
        <ul class="footer-links">
          <li>
            <a href="mailto:info@habitatmap.org" class="footer-links__element">Contact us</a>
          </li>
          <li>
            <a href="https://www.instagram.com/habitatmap_" target="_blank" class="footer-links__element">Instagram</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/habitatmap.bsky.social" target="_blank" class="footer-links__element">Bluesky</a>
          </li>
          <li>
            <a href="https://www.youtube.com/@HabitatMap" target="_blank" class="footer-links__element">YouTube</a>
          </li>
          <li>
            <a href="https://www.facebook.com/HabitatMap/" target="_blank" class="footer-links__element">Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/habitatmap/" target="_blank" class="footer-links__element">LinkedIn</a>
          </li>
        </ul>
      </li>

      <li class="footer-column footer-column--newsletter">
        <h2 class="footer-column__heading heading u--capitalized">Stay Current</h2>
        <p class="u--bold">Sign up to receive AirBeam product updates and HabitatMap news (quarterly):</p>
        <form name="newsletter" method="POST" data-netlify="true">
          <input type="hidden" name="subject" value="New newsletter subscription" />
          <label class="u--visually-hidden" for="newsletter">Email</label>
          <input class="input input--light input--full-width" type="email" placeholder="Your email" name="email" id="newsletter" autocomplete="email" />
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
        </form>
      </li>
    </ul>

    <p class="footer__address u--bold u--tiny-text">34A St Marks Avenue, Brooklyn, NY 11217 / 347.410.9499</p>
    <p class="footer__address u--bold u--tiny-text">EIN: 20-8834317</p>
  </div>

  <div class="footer__brand split--50">
    <p class="heading footer__brand-tagline">
      Healthier Environments,
      <br />
      Better Longer Lives for All.
    </p>
    <p class="u--bold u--tiny-text">
      © HabitatMap  /
      <a href="/aircasting-app-privacy-policy" class="footer-link">Privacy Policy</a>
    </p>
  </div>
</footer>
