<footer class="footer">
  <ul>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Info</h2>
      <ul>
        <li>
          <a href="#" class="link link--light is-bold">About HabitatMap</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">How It Works</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">FAQ</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">Donate</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">Get AirBeam</a>
        </li>
      </ul>
    </li>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Connect</h2>
      <ul>
        <li>
          <a href="#" class="link link--light is-bold">Contact us</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">Subscribe</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">Twitter</a>
        </li>
        <li>
          <a href="#" class="link link--light is-bold">Facebook</a>
        </li>
      </li>
    </ul>
    <li class="footer__topic">
      <h2 class="heading heading--capitalized">Stay Current</h2>
      <p class="is-bold">Sign up to recieve AirBeam product updates and HabitatMap news (quarterly):</p>
    </li>
  </ul>
</footer>
