<header class="header js--header">
  <div class="header__menu">
    <div class="header__brand">
      <button
        class="header__nav-toggle-button js--toggle-nav u--desktop-hidden"
        aria-label="Toggle navigation menu"
        aria-expanded="false"
        aria-controls="main-navigation"
      >
        {% include /svg/icon_nav.html %}
        {% include /svg/icon_close.html %}
      </button>

      <div class="logo header__logo">
        <a href="{{ "/" | relative_url }}" aria-label="HabitatMap Home">
          {% include /svg/logo_hm.html %}
          {% include /svg/logo-hm-vertical.html %}
        </a>
      </div>
    </div>

    {% include navigation.html navigation=site.data.navigation %}

    <div class="u--tablet-max-hidden">
      {% if page.permalink == "/airbeam/buy-it-now" %}
        <a href="#buy-now" class="button button--cta header__button">Get AirBeam</a>
      {% else %}
        <a href="/airbeam/buy-it-now" class="button button--cta header__button">Get AirBeam</a>
      {% endif %}
      <button
        class="header__nav-toggle-button js--toggle-nav"
        aria-label="Toggle navigation menu"
        aria-expanded="false"
        aria-controls="main-navigation"
      >
        {% include /svg/icon_nav.html %}
        {% include /svg/icon_close.html %}
      </button>
    </div>
  </div>
</header>
