<header class="header js--header">
  {% if page.section == "home" %}
    <div class="header__banner">
      <span></span>
      <span>
        Buy AirBeam3 Today and Get $10 Off!
        <a href="/airbeam/save-10-now" class="link--underlined header__save-10-link">
          ORDER&nbsp;NOW
        </a>
      </span>
      <a class="js--close-banner">{% include /svg/icon_close.html %}</a>
    </div>

    <script defer type="text/javascript" src="/assets/js/banner.js"></script>
  {% endif %}

  <div class="header__menu">
    <div class="header__brand">
      <button class="header__nav-toggle-button js--toggle-nav u--desktop-hidden">
        {% include /svg/icon_nav.html %}
        {% include /svg/icon_close.html %}
      </button>

      <div class="logo header__logo">
        <a href="{{ "/" | relative_url }}">
          {% include /svg/logo_hm.html %}
          {% include /svg/logo-hm-vertical.html %}
        </a>
      </div>
    </div>

    {% include navigation.html navigation=site.data.navigation %}

    <div class="u--tablet-max-hidden">
      <a href="/airbeam/buy-it-now" class="button button--small header__button">Get AirBeam</a>
      <button class="header__nav-toggle-button js--toggle-nav">
        {% include /svg/icon_nav.html %}
        {% include /svg/icon_close.html %}
      </button>
    </div>
  </div>
</header>
