<a href="https://aircasting.org" class="u--full-width">
  <picture>
    <source
      data-srcset="/assets/img/airbeam_map_screenshot.png?nf_resize=fit&w=640"
      media="(max-width: 480px)"
    />
    <source
      data-srcset="/assets/img/airbeam_map_screenshot.png?nf_resize=fit&w=1150"
      media="(max-width: 1024px)"
    />
    <img
      alt="AirCasting Map"
      class="lazyload"
      data-sizes="auto"
      data-src="/assets/img/airbeam_map_screenshot.png"
      src="/assets/img/airbeam_map_screenshot.png?nf_resize=fit&w=20"
    />
  </picture>
</a>
