<a href="http://aircasting.habitatmap.org/map" class="u--full-width">
  <picture>
    <source
      data-srcset="/assets/img/habitatmap-aircasting-map-screenshot.png?nf_resize=fit&w=720"
      media="(max-width: 480px)"
    />
    <source
      data-srcset="/assets/img/habitatmap-aircasting-map-screenshot.png?nf_resize=fit&w=1150"
      media="(max-width: 1024px)"
    />
    <img
      alt="AirCasting Map"
      class="lazyload"
      data-sizes="auto"
      data-src="/assets/img/habitatmap-aircasting-map-screenshot.png"
      src="/assets/img/habitatmap-aircasting-map-screenshot.png?nf_resize=fit&w=20"
    />
  </picture>
</a>
