{% assign navurl = page.url | remove: 'index.html' %}
<nav class="nav">
  <div class="nav-main">
    <ul class="nav-list">
      {% for item in include.navigation %}
        <li class="nav-list__element">
          <a href="{{ item.url }}" class="nav-list__link" {% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
          {% if item.subitems %}
            {% include subnav.html navigation=item.subitems %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="nav-sub">
    <a href="#" class="nav-list__link nav-list__link--donate u--capitalized">Donate</a>
    <a href="/airbeam/buy-it-now" class="button button--small header__button">Get Airbeam</a>
  </div>
</nav>
