<div class="split--60 quote slider slider--quote">
  <div class="js-slider">
    {% assign news_quotes = include.news_quotes | sample: 20 %}
    {% for news_quote in news_quotes %}
      <a href="{{ news_quote.link }}" target="_blank">
        <div class="slide quote">
          <p class="heading u--capitalized quote__heading">
            From {{ news_quote.publication }}:
          </p>
          <blockquote class="quote__body">
            “{{ news_quote.quote }}”
          </blockquote>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
