<script src="https://www.paypal.com/sdk/js?client-id=AQBRlDAwZfh2-QGZEb1kkD53-LjqhIl_qFJqhx989b6lgRTjQwKPaxH_GD4V1c88yersfGVRvCkGsWKr&currency=USD&commit=false"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>
<script>
  paypal
    .Buttons({
      createOrder: async (data, actions) => {
        const UNIT_PRICE = 249;

        const quantityValue = document.querySelector("#quantity")?.value;
        const shippingOptionValue =
          document.querySelector("#shipping-options")?.value;
        const couponValue = document.querySelector("#coupon")?.value;

        const calculateCouponDiscount = (coupon) => {
          try {
            return coupon.trim() == COUPON_CODE ? COUPON_DISCOUNT_AMOUNT : 0;
          } catch (e) {
            console.log("Error calculating coupon discount.");
          }
        };

        const calculateDiscountValue = (quantity, totalItemValue) => {
          if (quantity >= 10 && quantity < 20) {
            return totalItemValue * 0.03;
          } else if (quantity >= 20 && quantity < 99) {
            return totalItemValue * 0.05;
          } else if (quantity >= 100) {
            return totalItemValue * 0.07;
          } else {
            return 0;
          }
        };

        const calculateShippingCosts = (quantity, shippingOption) => {
          var firstUnitPrice;
          var additionalUnitPrice;

          if (shippingOption === "domestic") {
            firstUnitPrice = 8;
            additionalUnitPrice = 4;
          } else if (shippingOption === "international") {
            firstUnitPrice = 30;
            additionalUnitPrice = 10;
          }

          if (quantity == 1) {
            return firstUnitPrice;
          } else if (quantity >= 2) {
            return firstUnitPrice + (quantity - 1) * additionalUnitPrice;
          }
        };

        const itemTotalValue = quantityValue * UNIT_PRICE;
        console.log("itemTotalValue", itemTotalValue);

        const couponDicount = calculateCouponDiscount(couponValue);
        console.log("couponDicount", couponDicount);
        const shippingCosts = calculateShippingCosts(
          quantityValue,
          shippingOptionValue
        );
        console.log("shippingCosts", shippingCosts);
        const discountValue =
          calculateDiscountValue(quantityValue, itemTotalValue) + couponDicount;
        console.log("discountValue", discountValue);
        const totalValue = itemTotalValue + shippingCosts - discountValue;
        console.log("total", totalValue);

        const costInfoContainer = document.getElementById("cost-info");
        costInfoContainer.textContent = `Order summary: ${totalValue}`;
        costInfoContainer.classList.add("cost-info--calculated");

        const response = await fetch("/.netlify/functions/paypal", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            action: "create",
            cart: [
              {
                sku: "psc",
                quantityValue,
                shippingOptionValue,
                couponValue,
              },
            ],
          }),
        });

        const details = await response.json();
        return details.id;
      },

      onApprove: async (data, actions) => {
        const response = await fetch("/.netlify/functions/paypal", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            action: "capture",
            orderID: data.orderID,
          }),
        });

        const orderData = await response.json();
        const error = Array.isArray(orderData.details) && orderData.details[0];

        const notificationContainer = document.getElementById("notification");

        if (error) {
          const msg = `Sorry, your transaction could not be processed. ${error?.description} (${orderData?.debug_id})`;
          if (notificationContainer) {
            notificationContainer.classList.add("notification-text--error");

            let title = document.createElement("div");
            title.className = "notification-title";
            title.textContent = "Something went wrong!";

            let content = document.createElement("div");
            content.className = "notification-content";
            content.textContent = msg;

            let closeIcon = document.createElement("div");
            closeIcon.className = "notification-close-button";

            notificationContainer.append(title, content, closeIcon);
            notificationContainer.classList.add("notification-text--visible");

            setTimeout(() => {
              notificationContainer.classList.remove(
                "notification-text--visible"
              );
              notificationContainer.classList.remove(
                "notification-text--error"
              );

              while (notificationContainer.firstChild) {
                notificationContainer.removeChild(
                  notificationContainer.firstChild
                );
              }
            }, 10000);
          }
        } else {
          const transaction = orderData.purchase_units[0].payments.captures[0];

          if (notificationContainer) {
            notificationContainer.classList.add("notification-text--success");
            let title = document.createElement("div");
            title.className = "notification-title";
            title.textContent = "Success!";

            let content = document.createElement("div");
            content.className = "notification-content";
            content.textContent = `Your transaction #${transaction.id} was completed. Thank you for your purchase!`;

            let closeIcon = document.createElement("div");
            closeIcon.className = "notification-close-button";

            notificationContainer.append(title, content, closeIcon);
            notificationContainer.classList.add("notification-text--visible");

            setTimeout(() => {
              notificationContainer.classList.remove(
                "notification-text--visible"
              );
              notificationContainer.classList.remove(
                "notification-text--success"
              );

              while (notificationContainer.firstChild) {
                notificationContainer.removeChild(
                  notificationContainer.firstChild
                );
              }
            }, 10000);
          }
        }
      },
    })
    .render("#paypal-button-container");
</script>
