<script src="https://www.paypal.com/sdk/js?client-id=AQBRlDAwZfh2-QGZEb1kkD53-LjqhIl_qFJqhx989b6lgRTjQwKPaxH_GD4V1c88yersfGVRvCkGsWKr&currency=USD&commit=false"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>
<script>
  paypal
    .Buttons({
      createOrder: async (data, actions) => {
        const UNIT_PRICE = 249;
        const COUPON_CODE = "SAVE100";
        const COUPON_DISCOUNT_AMOUNT = 100.0;

        const quantityValue = document.querySelector("#quantity")?.value;
        const shippingOptionValue =
          document.querySelector("#shipping-options")?.value;
        const couponValue = document.querySelector("#coupon")?.value;

        const response = await fetch("/.netlify/functions/paypal", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            action: "create",
            cart: [
              {
                sku: "psc",
                quantityValue,
                shippingOptionValue,
                couponValue,
              },
            ],
          }),
        });

        const details = await response.json();

        return details.id;
      },
    })
    .render("#paypal-button-container");
</script>
