<div class="split--60 quote slider slider--quote">
  <div class="js-slider">
    {% assign testimonials = include.testimonials | sample:20 %} {% for
    testimonial in testimonials %}
    <div class="slide quote">
      <p class="heading u--capitalized quote__heading">
        {{ testimonial.institution }}
      </p>
      <blockquote class="quote__body">
        “{{ testimonial.quote }}”
      </blockquote>
      <p class="quote__name">- {{ testimonial.name }}</p>
    </div>
    {% endfor %}
  </div>
</div>
