.footer {
  background-color: $green;
  background-image: url("/assets/img/svg/HabitatMap-Monogram-Footer-White.svg");
  background-position: bottom $u-space-default right $u-space-default,
    bottom right;
  background-repeat: no-repeat;
  color: white;

  @media screen and (max-width: ($screen-sm-min - 1px)) {
    padding: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    background-image: url("/assets/img/svg/HabitatMap-Monogram-Footer-White.svg"),
      linear-gradient(to right, $gray-medium, $gray-medium 50%, $green 50%);
  }
}

.footer__nav {
  @include flexbox;
  @include justify-content(space-between);
  background: $gray-medium;

  @media screen and (max-width: ($screen-sm-min - 1px)) {
    padding: $u-space-default 4vw;
  }
}

.footer__topic {
  @include flex(1);
  border-top: 1px solid $white;
  display: none;
  font-size: $base-font-size-2;
  margin-right: 1.4rem;
  vertical-align: top;

  @media screen and (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.footer__newsletter {
  @include flex(0 0 100%);
  display: inline-block;
  margin: 0;

  @media screen and (min-width: $screen-sm-min) {
    @include flex(0 0 35%);
  }
}

.footer__topic-heading {
  margin: 1rem 0 2rem;
}

.footer__topic-links {
  font-family: $bold-font;
}

.footer__link {
  display: inline-block;
  color: $white;
  padding: 0.35rem 0;
}

.footer__brand {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);

  @media screen and (max-width: ($screen-sm-min - 1px)) {
    padding: $u-space-default 4vw 12rem;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}

.footer__brand-tagline {
  font-size: $base-font-size2;
}
