$input-height: 36px;

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  height: $input-height;
  background: none;
  border: 1px solid $gray;
  border-radius: 3px;
  box-shadow: none;
  padding: 0 $u-space-tiny;

  &:focus {
    border-color: $green;
  }
}

.input--light {
  @include placeholder-color($light);
  border-color: $white;
  border-radius: 0;
  margin-top: $u-space-small;

  &:focus {
    border: 1px solid $white;
  }
}

.input--full-width {
  width: 100%;
}

.input--quantity {
  max-width: 19rem;
  margin-bottom: $u-space-small;
  width: 100%;
}
