.is-verticaly-centered {
  display: inline-block;
  margin-top: 50%;
  transform: translateY(-50%);
}

.panel {
  padding-left: 15vw;
  padding-right: 15vw;
}

.padding-vertical-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-teal-light {
  background-color: $teal-light;
}
