$button-font-size: 1.1rem;

.button {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-family: $bold-font;
  font-size: $button-font-size;
  height: 50px;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.button--hm {
  @include button-color($hm-brand, $hm-brand, $white, $hm-brand);
}

.button--ac {
  @include button-color($ac-brand, $ac-brand, $white, $ac-brand);
}

.button--ac-on-teal {
  @include button-color($white, $white, $teal, $white);
}

.button--ac-on-light-teal {
  @include button-color($ac-brand, $ac-brand, $teal-very-light, $ac-brand);
}

.button--small {
  height: 43px;
}
