body {
  padding-top: 6rem;

  @media screen and (max-width: $tablet-max) {
    padding-top: 72px; // mobile header height
  }
}

.container--narrow {
  max-width: $narrow-content;
}

.container--centered {
  @media screen and (min-width: $tablet-min) {
    margin: 0 auto;
  }
}
