$header-font-size: 1.2rem;

.header {
  @include flexbox;
  @include justify-content(space-between);
  font-family: $bold-font;
  font-size: $header-font-size;
  padding: 2.2rem 0 1rem;
}

.header__logo {
  padding-left: $u-space-small;
  width: 11rem;
  height: 4rem;

  @media screen and (min-width: $desktop-min) {
    padding-left: $u-space-default;
    width: 15vw;
  }

  @media screen and (min-width: $large-desktop-min) {
    width: 21vw;
  }
}

.header__nav {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(1);
  padding-right: $u-space-small;

  @media screen and (min-width: $desktop-min) {
    padding-right: $u-space-default;
  }
}

.header__nav-split {
  @include flex(0 1 43rem);
}

.nav-list {
  @include flexbox;
  @include justify-content(space-between);
}

.nav-list__link {
  display: inline-block;
  padding: $u-space-tiny;
  vertical-align: middle;

  &:hover {
    opacity: 0.5;
  }
}

.header__button {
  font-size: $base-font-size-2;
  margin-left: $u-space-small;
  text-transform: uppercase;
}
