.logo {
  display: block;
}

.logo--hm {
  width: 8.66rem;
  fill: $gray;

  [data-current="airbeam"] & {
    fill: $green;
  }

  [data-current="aircasting"] & {
    display: none;
  }
}

.logo--ac {
  display: none;
  width: 10rem;

  [data-current="aircasting"] & {
    display: block;
  }
}

.logo--body {
  height: 2.8rem;
  width: auto;
  margin-bottom: $u-space-small;

  @media screen and (min-width: $tablet-min) {
    height: 3.7rem;
  }
}
