.panel {
  @include flexbox;
  @include flex-direction(column);
  padding: $u-space-default 4vw;

  @media screen and (min-width: $tablet-min) {
    @include flex-direction(row);
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @media screen and (min-width: $desktop-min) {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.panel--footer {
  @media screen and (max-width: $large-mobile-max) {
    padding: 0;
  }
}

.panel--hero {
  background-image: url("/assets/img/habitatmap-home-airbeam-aircasting.jpg");
  padding-top: 6rem;
  padding-bottom: 65%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media screen and (min-width: $tablet-min) {
    background-position: center right;
    background-size: 50% auto;
    padding-bottom: 6rem;
  }
}

.panel__heading {
  max-width: 29rem;
}
