.panel {
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  padding: $u-space-default 4vw;

  @media screen and (min-width: $tablet-min) {
    @include flex-direction(row);
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @media screen and (min-width: $desktop-min) {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  @media screen and (min-width: $large-desktop-min) {
    padding-left: 21vw;
    padding-right: 21vw;
  }
}

.panel--big-padding {
  padding-top: $u-space-big;
  padding-bottom: $u-space-big;
}

.panel--leading-text {
  padding-top: $u-space-small;
  padding-bottom: 0;

  @media screen and (min-width: $small-desktop-min) {
    padding-top: $u-space-default;
    padding-bottom: $u-space-small;
  }
}

.panel--footer {
  @media screen and (max-width: $large-mobile-max) {
    padding: 0;
  }
}

.panel--hero {
  padding-bottom: 65%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media screen and (min-width: $tablet-min) {
    background-position: center right;
    background-size: 50% auto;
    padding-bottom: 5.5rem;
  }

  @media screen and (min-width: $large-desktop-min) {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

.panel--airbeam {
  @media screen and (min-width: $tablet-min) {
    background-color: $teal-light;
  }
}

.panel--about-intro,
.panel--history-intro,
.panel--faq-intro,
.panel--blog-hero,
.panel--blog-category {
  color: $white;
}

.panel--faq-intro,
.panel--history-intro,
.panel--blog-category {
  @media screen and (min-width: $tablet-min) {
    padding-top: $u-space-big;
    padding-bottom: $u-space-big;
  }
}

.panel--blog-hero,
.panel--blog-category {
  background-color: $blue;
}

.panel--align-center {
  @include align-items(center);
}

.panel__heading {
  max-width: 27rem;
}

.panel--quote,
.panel--testimonial {
  color: $white;
}

.panel--quote {
  color: $white;

  @media screen and (min-width: $tablet-min) {
    padding-top: $u-space-big;
    padding-bottom: $u-space-huge;
  }
}

.panel--testimonial {
  @media screen and (min-width: $tablet-min) {
    padding-top: $u-space-big;
    padding-bottom: $u-space-big;
  }
}

.panel--search {
  @media screen and (max-width: $large-mobile-max) {
    padding: 1rem 4vw 0;
  }
}

.panel--faq-intro {
  min-height: 28vh;
}

.panel--history {
  flex-direction: column;

  .p--body {
    max-width: 700px;
  }
}
