.icon-search {
  width: 1.5rem;
  cursor: pointer;
  margin-right: $u-space-tiny;
}

.searchbar-container {
  @include flex(0 0 100%);
  margin-bottom: $u-space-default;
}

// Algolia

.ais-Highlight {
  background: $teal-light;
  font-family: $bold-font;
  font-style: normal;
}
