// Utilitiy classes to modify any elements

.u--bold {
  font-family: $bold-font;
}

.u--tiny-text {
  font-size: $base-font-size-2;
}

.u--gray-text {
  color: $gray;
}

.u--accent-hm {
  color: $hm-brand;
}

.u--accent-ac {
  color: $ac-brand;
}

.u--bg-teal-light {
  background-color: $teal-light;
}

.u--visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.u--vertically-centered {
  display: inline-block;
  margin-top: 50%;
  transform: translateY(-50%);
}
