---
layout: default
---

<h1 class="u--visually-hidden">TakingSpace Blog</h1>

<div class="panel panel--blog-hero featured-post">
  <div class="split--50 split--padding-right post-header">
    <small class="u--capitalized post-header__category">
      Category
    </small>
    <h1 class="heading heading--medium post-header__title post-header__title--featured">
      Using Citizen Science & Open Source Tools to Promote Community Health
    </h1>
    <a href="#" class="post-header__read-more">Read more</a>
  </div>

  <img src="/assets/img/featured-post.jpg" class="post-header__image"/>
</div>

<!-- todo: extract to partial -->
<div class="panel categories">
  <ul class="category-list">
    {% for category in site.categories %}
      <li>
        <a href="{{ category.url }}" class="category-list__link button button--ac">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <button class="js--posts-toggle u--capitalized"></button>
</div>

<section class="panel">
  <ul class="post-list">
    {% for post in site.posts %}
      {% include post-snippet.html post = post %}
    {% endfor %}
  </ul>
</section>

<script defer type="text/javascript" src="/assets/js/posts.js"></script>
