---
layout: default
---

<h1 class="u--visually-hidden">TakingSpace Blog</h1>

<div class="panel panel--blog-hero featured-post">
  <div class="split--50 split--padding-right post-header">
    <small class="u--capitalized post-header__category">
      Category
    </small>
    <h2 class="heading heading--medium post-header__title post-header__title--featured">
      Using Citizen Science & Open Source Tools to Promote Community Health
    </h2>
    <a href="#" class="post-header__read-more">Read more</a>
  </div>

  <img src="{{ site.produrl | append: '/assets/img/featured-post.jpg' | append: '?nf_resize=smartcrop&w=1200&h=705' }}" class="post-header__image"/>
</div>

{% include category-nav.html %}

<section class="panel">
  <ul class="post-list">
    {% for post in site.posts %}
      {% include post-snippet.html post = post %}
    {% endfor %}
  </ul>
</section>
