---
layout: default
---

<h1 class="u--visually-hidden">TakingSpace Blog</h1>

<!-- todo: extract to partial (will be used on tag page) -->
<div class="panel panel--blog-hero">
  <div class="post-header">
    <h1 class="heading heading--large post-header__title post-header__title--featured">
      {{ page.name }}
    </h1>
  </div>
</div>

<!-- todo: extract to partial (use same one as in blog) -->
<div class="panel categories">
  <ul class="category-list">
    {% for category in site.categories %}
      <li>
        <a href="{{ category.url }}" class="category-list__link button button--ac" {% if category.url == page.url %} data-current {% endif %}>
          {{ category.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <button class="js--posts-toggle u--capitalized"></button>
</div>

<section class="panel">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.category == page.name %}
        {% include post-snippet.html post=post %}
      {% endif %}
    {% endfor %}
  </ul>
</section>

<script defer type="text/javascript" src="/assets/js/posts.js"></script>
