---
layout: default
---

<!-- Note: this functionality isn't used at this moment, because only a named list can be used in NetlifyCMS,
and this is more needed than having the FAQ indexed and separate FAQ pages -->

<section class="panel panel--faq-intro u--bg-green">
  <div class="split--50 split--paddding-right">
    <h1 class="heading heading--large">
      {{ page.question }}
    </h1>
  </div>
</section>

<section class="panel faq">
  <p class="p--body">
    {{ page.answer }}
  </p>
</section>
