---
layout: default
---

<div class="panel">
  <div class="post-header">
    {% if page.categories %}
      <small class="post-header__cagory">
        {{ page.categories.first }}
      </small>
    {% endif %}

    <h2 class="post-header__title">{{ page.title }}</h2>

    {% if page.author %}
      <small class="post-header__author">
        by {{ page.author }}
      </small>
    {% endif %}
  </div>
</div>

<div class="panel">
  <div class="post-content">
    {{ content }}

    <strong>
      PUBLISHED:
      <time datetime="{{ page.date }}">
        <strong>{{ page.date | date_to_string }}</strong>
      </time>
      <br/>
      TAGS: {{ page.tags | join: ', ' }}
    </strong>
  </div>
</div>

  <nav class="panel" aria-label="Adjacent Posts">
    <ul class="post-nav">
      {% if page.previous.url %}
        <li>
          <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
        </li>
      {% endif %}
      <li>
        <a href="/blog">BACK TO ALL POSTS</a>
      </li>
      {% if page.next.url %}
        <li>
          <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
