---
layout: default
---

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
<script defer type="text/javascript" src="/assets/js/algolia.js"></script>

<div class="panel panel--blog-hero panel--search">
  <div class="split--50 split--padding-right post-header">
    <h1 class="heading heading--large post-header__title post-header__title--featured">
      Search
    </h1>
  </div>
</div>

<div class="posts-index search-container">
  <section class="panel">
    <div class="searchbar-container js--search-searchbar">
    </div>
    <ul class="post-list js--search-hits">
    </ul>
  </section>
</div>
