---
layout: default
---

<h1 class="u--visually-hidden">TakingSpace Blog</h1>

{% include post-group-header.html title = page.name %}

<div class="posts-index posts-index--with-arc js--posts-index">
  {% include category-nav.html %}

  <section class="panel">
    <ul class="post-list post-list--grid-view">
      {% for post in site.posts %}
        {% if post.tags contains page.name %}
          {% include post-snippet.html post = post %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
