---
layout: default
---

<h1 class="u--visually-hidden">User stories</h1>

<section class="panel panel--leading-text">
  <h1 class="heading heading--large u--gray-text">
    The AirCasting platform empowers community-based organizations, educators,
    academics, regulators, city managers, and citizen scientists to map air
    pollution and organize for clean air.
  </h1>
</section>

<section
  class="panel panel--quote u--bg-green arc-background arc-background--right-opacity-15 arc-background--right-bottom-quote"
>
  <div class="split--40">
    <h2 class="heading heading--medium">
      What Our Community
      <br />
      is Saying
    </h2>
  </div>
  {% include testimonials-slider.html testimonials = site.testimonials %}
</section>

<section class="posts-index posts-index--with-arc js--posts-index">
  <div class="panel u--margin-top-default">
    <ul class="post-list post-list--grid-view">
      {% for story in site.user_stories %} {% include post-snippet.html post =
      story %} {% endfor %}
    </ul>
  </div>
</section>

{% include slider-init.html %}
